<%- include('layout/atas', {judul: 'Laporan RPS Mata Kuliah'}) %> 

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Laporan</h3>
          <!-- <p class="text-subtitle text-muted">Give textual form controls like input upgrade with custom styles,
                          sizing, focus states, and more.</p> -->
        </div>
        <!-- <div class="col-12 col-md-6 order-md-2 order-first">
                      <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Input</li>
                          </ol>
                      </nav>
                  </div> -->
      </div>
      <div class="button">
        <br />
        <a href="#" class="btn btn-primary rounded-pill"><i class="fa-solid fa-download"></i> Unduh</a>
        <a href="#" class="btn btn-primary rounded-pill"><i class="fa-solid fa-print"></i> Print</a>
      </div>
      <br />
    </div>

    <!-- Horizontal Input start -->
    <section id="horizontal-input">
      <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Peta CPMK ke CPL</h4>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0 table-lg">
                            <thead>
                                <tr>
                                    <th>Kode CPMK</th>
                                    <th>CPMK</th>
                                    <th>Kode CPML</th>
                                    <th>CPML</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>          
            </div>

            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Lihat Revisi RPS</h4>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0 table-lg">
                            <thead>
                                <tr>
                                    <th>KODE Matkul</th>
                                    <th>Nama Matkul</th>
                                    <th>sks</th>
                                    <th>Jumlah Revisi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold-500"></td>
                                    <td></td>
                                    <td class="text-bold-500"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>          
            </div>
          
            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Persentase RPS</h4>
                </div>

                <div class="card-body">
                    <!-- <p class="text-subtitle text-muted">Give textual form controls like input upgrade with custom styles,
                    sizing, focus states, and more.</p> -->

                    <div id="piechart"></div>
        
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    
                    <script type="text/javascript">
                    // Load google charts
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    
                    // Draw the chart and set the chart values
                    function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Project Based', 8],
                    ['Case Based Method', 2],
                    
                    ]);
                    
                    // Optional; add a title and set the width and height of the chart
                    var options = {'title':'Persentase RPS yang menggunakan metode Project Based/Case Based Method', 'width':550, 'height':400};
                    
                    // Display the chart inside the <div> element with id="piechart"
                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);
                    }
                    </script>   

                </div>          
            </div>
        </div>
      </div>
    </section>
    <!-- Horizontal Input end -->
  </div>

<%- include('layout/bawah') %> 
