<html><head><meta http-equiv="Content-Type" content="text/html;charset=utf-8" /><link href="style.css" rel="stylesheet" type="text/css" /><title>Unknown</title></head><body><div class="calibre" id="calibre_link-0">
	<table class="table_">


		<tbody class="calibre1"><tr class="calibre2">
			<td class="td_"><p class="block_" lang="af"><img src="assets/images/000000.png" alt="Image" class="calibre3" /></p></td>
			<td colspan="12" class="td_1"><p class="block_1" lang="af">RENCANA PEMBELAJARAN SEMESTER (RPS)</p><p class="block_1" lang="af">PROGRAM STUDI : Sistem Informasi</p><p class="block_1" lang="af">FAKULTAS /PPs: Teknologi Informasi</p><p class="block_1" lang="af">UNIVERSITAS ANDALAS</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="5" class="td_2"><p class="block_1" lang="af">MATA KULIAH</p></td>
			<td colspan="2" class="td_3"><p class="block_1" lang="af">KODE</p></td>
			<td colspan="3" class="td_4"><p class="block_1" lang="af">Rumpun/Kelompok MK</p></td>
			<td class="td_5"><p class="block_1" lang="af">BOBOT (sks)</p></td>
			<td class="td_6"><p class="block_1" lang="af">SEMESTER</p></td>
			<td class="td_7"><p class="block_1" lang="af">Tgl Penyusunan</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="5" class="td_8"><p class="block_1" lang="af">Pemrograman Web</p></td>
			<td colspan="2" class="td_9"><p class="block_2">&nbsp;</p></td>
			<td colspan="3" class="td_10"><p class="block_2">&nbsp;</p></td>
			<td class="td_11"><p class="block_3" lang="af">3</p></td>
			<td class="td_12"><p class="block_3" lang="af">4</p></td>
			<td class="td_13"><p class="block_2">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="5" rowspan="2" class="td_8"><p class="block_1" lang="af">OTORISASI</p><p class="block_2">&nbsp;</p><p class="block_2">&nbsp;</p></td>
			<td colspan="3" class="td_14"><p class="block_3" lang="af">Dosen Pengembang RPS</p></td>
			<td colspan="3" class="td_15"><p class="block_3" lang="af">Koordinator Rumpun MK</p></td>
			<td colspan="2" class="td_16"><p class="block_3" lang="af">Ka Program Studi</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="3" class="td_17"><p class="block_4">&nbsp;</p></td>
			<td colspan="3" class="td_18"><p class="block_4">&nbsp;</p></td>
			<td colspan="2" class="td_19"><p class="block_4">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" rowspan="12" class="td_20"><p class="block_1" lang="af">Capaian Pembelajaran (CP)</p></td>
			<td colspan="4" class="td_21"><p class="block_1" lang="af"><span class="calibre4">CP Program Studi         </span></p></td>
			<td colspan="7" class="td_22"><p class="block_5">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">CP-1</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af"><span class="calibre4">Mengidentifikasi, memformulasikan dan memecahkan&nbsp;&nbsp;permasalahan kebutuhan informasi dari suatu organisasi​</span></p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">CP-2</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mengintegrasikan solusi berbasis teknologi informasi secara&nbsp;efektif pada suatu organisasi​</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">CP-3</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Menerapkan konsep-konsep dasar dalam merencanakan Sistem&nbsp;Informasi, merancang Sistem Informasi, membangun Sistem&nbsp;Informasi, mengoperasikan Sistem Informasi, dan​ mengevaluasi Sistem Informasi&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="4" class="td_21"><p class="block_8" lang="af"><span class="calibre4">CP Mata Kuliah             </span></p></td>
			<td colspan="7" class="td_22"><p class="block_5">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">1</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web (CP-1, CP-2)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">2</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web (CP-1, CP-2)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">3</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menggunakan pemograman asynchronous . (CP-2, CP-3)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">4</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menerapkan keamanan untuk situs web . (CP-2, CP-3)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">5</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu menggunakan dan mendesain format data JSON. (CP-2, CP-3)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">6</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu deploy aplikasi web ke internet. (CP-2)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_23"><p class="block_6" lang="af">7</p></td>
			<td colspan="10" class="td_24"><p class="block_7" lang="af">Mahasiswa mampu mendemonstrasikan keterampilan bekerja sama dengan tim (CP-3)</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" class="td_20"><p class="block_9" lang="af">Deskripsi Singkat</p><p class="block_9" lang="af">Mata Kuliah</p></td>
			<td colspan="11" class="td_25"><p class="block_10" lang="af">Mata kuliah pemrograman web merupakan mata kuliah yang membahas tentang teknik pengembangan website dari hulu ke hilir, yaitu mulai dari algoritma dalam pemrograman web, pembuatan website (front-end dan back-end), hosting, hingga dokumentasi dan hukum kekayaan intelektual dari program yang dihasilkan nantinya.</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" class="td_20"><p class="block_9" lang="af">Materi Pembelajaran/ Pokok Bahasan</p></td>
			<td colspan="11" class="td_25"><p class="block_11" lang="af">Secara garis besar terdapat 2 materi yang akan diberikan yaitu:</p><ol class="list_">
	<li class="block_12"><span lang="af" class="text_">Server Side Web Programming</span></li>
</ol><p class="block_13" lang="af">Meliputi pemrograman web yang dilakukan pada bagian server dengan menggunakan bahasa pemograman Javascript. </p><ol class="list_">
	<li value="2" class="block_14"><span lang="af" class="text_">Client Side Web Programming</span></li>
</ol><p class="block_15"><span lang="af" class="text_1">Pemrograman web pada sisi </span><span lang="af" class="text_">client</span><span lang="af" class="text_1"> (browser) yang dilakukan dengan menggunakan bahasa pemrograman javascript.</span></p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" rowspan="4" class="td_20"><p class="block_9" lang="af">Pustaka</p></td>
			<td colspan="2" class="td_26"><p class="block_16" lang="af">Utama :</p></td>
			<td colspan="9" class="td_27"><p class="block_17">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="11" class="td_28"><ol class="list_">
	<li class="block_18"><span lang="af" class="text_1">Matt Doyle, 2009, “Beginning PHP 5.3”, Wrox </span></li>
	<li class="block_18"><span lang="af" class="text_1">Nicholas Zakas, 2012, “Professional Javascript for Web Developer”, John Wiley &amp; Sons</span></li>
</ol></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" class="td_29"><p class="block_9" lang="af">Pendukung :</p></td>
			<td colspan="9" class="td_30"><p class="block_2">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="11" class="td_31"><ol class="list_">
	<li value="3" class="block_18"><span lang="af" class="text_1">Mark Pilgrim, 2010, “HTML5 Up and Running”, O’Reilly </span></li>
	<li class="block_18"><span lang="af" class="text_1">Steve Fulton; Jeff Fulton, 2011, “HTML5 Canvas”, O’Reilly</span></li>
	<li class="block_18"><span lang="af" class="text_1">S. Stefanor, 2010, “Javascript Patterns”, O’Reilly</span></li>
</ol></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" rowspan="2" class="td_20"><p class="block_1" lang="af">Media Pembelajaran</p></td>
			<td colspan="7" class="td_32"><p class="block_1" lang="af">Perangkat lunak :</p></td>
			<td colspan="4" class="td_33"><p class="block_1" lang="af">Perangkat keras :</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="7" class="td_34"><p class="block_19" lang="af">Power point</p><p class="block_19" lang="af">Code Editor (VS Code)</p><p class="block_19" lang="af">Browser</p><p class="block_19" lang="af">NodeJS</p><p class="block_19" lang="af">Rest Client (Postman)</p><p class="block_19" lang="af">Database server (MySQL)</p><p class="block_19" lang="af">Version Control (Git)</p></td>
			<td colspan="4" class="td_35"><p class="block_19" lang="af">Projector</p><p class="block_19" lang="af">Laptop</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" class="td_20"><p class="block_1" lang="af">Team Teaching</p></td>
			<td colspan="11" class="td_25"><p class="block_19" lang="af">-</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" class="td_20"><p class="block_1" lang="af">Assessment</p></td>
			<td colspan="11" class="td_25"><p class="block_19" lang="af">Project, Tugas, Quiz, UTS, UAS</p></td>
		</tr>
		<tr class="calibre2">
			<td colspan="2" class="td_36"><p class="block_1" lang="af">Matakuliah Syarat</p></td>
			<td colspan="11" class="td_37"><ol class="list_">
	<li class="block_12"><span lang="af">Struktur Data dan Algoritma</span></li>
	<li class="block_14"><span lang="af">Dasar-Dasar Pemrograman</span></li>
	<li class="block_14"><span lang="af">Pemograman Berorientasi Objek</span></li>
</ol></td>
		</tr>
	</tbody></table>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>
	<p class="block_2">&nbsp;</p>


	<table class="table_1">
		<tbody class="calibre1"><tr class="calibre2">
			<td class="td_38"><p class="block_20" lang="af">Mg ke-</p></td>
			<td class="td_39"><p class="block_21" lang="af">Kemampuan akhir yg diharapkan</p><p class="block_4">&nbsp;</p></td>
			<td class="td_40"><p class="block_21" lang="af">Bahan Kajian</p><p class="block_20" lang="af">(Materi Ajar)</p><p class="block_20" lang="af">Dan Referensi</p></td>
			<td class="td_41"><p class="block_20" lang="af">Metode Pembelajaran dan Alokasi Waktu</p></td>
			<td class="td_42"><p class="block_22" lang="af">Pengalaman Belajar Mahasiswa</p></td>
			<td class="td_43"><p class="block_21" lang="af">Kriteria (Indikator) Penilaian</p></td>
			<td class="td_44"><p class="block_20" lang="af">Bobot Penilan</p><p class="block_20" lang="af">(%)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_23" lang="af">(1)</p></td>
			<td class="td_46"><p class="block_23" lang="af">(2)</p></td>
			<td class="td_47"><p class="block_23" lang="af">(3)</p></td>
			<td class="td_48"><p class="block_23" lang="af">(4)</p></td>
			<td class="td_49"><p class="block_23" lang="af">(5)</p></td>
			<td class="td_50"><p class="block_23" lang="af">(6)</p></td>
			<td class="td_51"><p class="block_23" lang="af">(7)</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">1</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web</p></td>
			<td class="td_47"><ol class="list_">
	<li class="block_25"><span lang="af">Pengenalan WEB </span></li>
</ol><ol class="list_1">
	<li class="block_26"><span lang="af">Web dan Hypertext Document</span></li>
	<li class="block_26"><span lang="af">Protokol HTTP (method dan status message)</span></li>
	<li class="block_26"><i lang="af" class="calibre5">Client side</i><span lang="af"> (</span><i lang="af" class="calibre5">front-end</i><span lang="af">)</span></li>
	<li class="block_26"><i lang="af" class="calibre5">Server side</i><span lang="af"> (</span><i lang="af" class="calibre5">back-end</i><span lang="af">)</span></li>
	<li class="block_26"><span lang="af">Interaksi </span><i lang="af" class="calibre5">client side</i><span lang="af"> dengan </span><i lang="af" class="calibre5">server side</i></li>
</ol></td>
			<td class="td_52"><p class="block_27" lang="af">Presentasi Dosen dan diskusi</p><p class="block_28" lang="af">(3 x 50 mnt)</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa memberikan tanggapan tentang konsep dasar dan komponen aplikasi berbasis web </p></td>
			<td class="td_50"><p class="block_27" lang="af">Keaktifan dan partisipasi dalam diskusi dan menjawab pertanyaan.</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">2</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web</p></td>
			<td class="td_53"><p class="block_27" lang="af">Pemograman Javascript Dasar (Input/Output, control program, function, class dan object)</p><p class="block_2">&nbsp;</p></td>
			<td class="td_48"><p class="block_27" lang="af">Presentasi Dosen dan diskusi</p><p class="block_28" lang="af">(3 x 50 mnt)</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa menyelesaikan latihan yang diberikan.</p><p class="block_30">&nbsp;</p><p class="block_28" lang="af">Mahasiswa membahas project yang akan dikerjakan.</p></td>
			<td class="td_50"><p class="block_27" lang="af">Kemampuan menyelesaikan latihan</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">3</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menggunakan pemograman asynchronous</p></td>
			<td class="td_53"><p class="block_27" lang="af">Pemograman Javascript Lanjut (modul, async programming, web)</p></td>
			<td class="td_48"><p class="block_27" lang="af">Presentasi Dosen </p><p class="block_27" lang="af">(2 x 50 mnt)</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Project Based Learning (1 x 50 mnt)</p><p class="block_2">&nbsp;</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa menyelesaikan latihan yang diberikan.</p><p class="block_30">&nbsp;</p><p class="block_28" lang="af">Mahasiswa mempresentasikan project dikerjakan.</p></td>
			<td class="td_50"><p class="block_27" lang="af">Kemampuan menyelesaikan latihan</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Progress project</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Kerjasama tim</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">4</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web</p></td>
			<td class="td_47"><p class="block_27"><span lang="af">Pemograman Javascript Web (</span>expressjs<span lang="af">, route)</span></p></td>
			<td class="td_48"><p class="block_27" lang="af">Presentasi Dosen </p><p class="block_27" lang="af">2(2 x 50 mnt)</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Project Based Learning (1 x 50 mnt)</p><p class="block_30">&nbsp;</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa mempresentasikan penggunaan framework expressjs.</p><p class="block_30">&nbsp;</p><p class="block_28" lang="af">Mahasiswa mempresentasikan progress project </p></td>
			<td class="td_50"><p class="block_27" lang="af">Pemahaman penggunaan expressjs</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Progress project</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Kerjasama tim</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">5</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menggunakan dan mendesain format data JSON.</p></td>
			<td class="td_47"><p class="block_27">Restful<span lang="af"> API dan Format data JSON (key, value, array, object)</span></p></td>
			<td class="td_48"><p class="block_27" lang="af">Collaborative Learning</p><p class="block_27" lang="af">2(2 x 50 mnt)</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Project Based Learning (1 x 50 mnt)</p><p class="block_2">&nbsp;</p><p class="block_2">&nbsp;</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa menjelaskan tentang restful API dan JSON</p><p class="block_30">&nbsp;</p><p class="block_28" lang="af">Mahasiswa mempresentasikan progress project </p><p class="block_30">&nbsp;</p></td>
			<td class="td_50"><p class="block_27" lang="af">Pemahaman tentang Restful API dan JSON</p><p class="block_2">&nbsp;</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Progress project</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">6</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web</p></td>
			<td class="td_47"><p class="block_27" lang="af">Pengelolaan Data dengan Database</p><p class="block_27"><span lang="af">(</span>Database<span lang="af"> server, SQL, CRUD) </span></p></td>
			<td class="td_48"><p class="block_27" lang="af">Project Based Learning (3 x 50 mnt)</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa mempresentasikan penggunaan database di project yang dikembangkan</p></td>
			<td class="td_50"><p class="block_27" lang="af">Progress project</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_24" lang="af">7</p></td>
			<td class="td_46"><p class="block_19" lang="af">Mahasiswa mampu menerapkan keamanan untuk situs web</p></td>
			<td class="td_47"><p class="block_27"><span lang="af">Authentication (Authorization vs Authentication, Enkripsi dan dekripsi, Chiper text, Plain text, Symmetric Key, Asymmetric Key, </span>Public<span lang="af"> Key, Private Key ,Session, token, JWT)</span></p></td>
			<td class="td_48"><p class="block_27" lang="af">Project Based Learning </p><p class="block_27" lang="af">(3 x 50 mnt)</p></td>
			<td class="td_49"><p class="block_28" lang="af">Mahasiswa mengimplementasikan authentikasi pada project yang dikerjakan</p></td>
			<td class="td_50"><p class="block_27" lang="af">Progress project</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Pemahaman tentang authentication</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_45"><p class="block_29">&nbsp;</p></td>
			<td colspan="5" class="td_54"><p class="block_27" lang="af">UTS</p></td>
			<td class="td_51"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">9</p></td>
			<td class="td_56"><p class="block_19" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web</p></td>
			<td class="td_57"><p class="block_27" lang="af">HTML dan </p><p class="block_27" lang="af">(Tag, attribute, property, struktur halaman web)</p></td>
			<td class="td_58"><p class="block_27" lang="af">Collaborative Learning</p><p class="block_27" lang="af">(3 x 50 mnt)</p><p class="block_30">&nbsp;</p></td>
			<td class="td_59"><p class="block_28" lang="af">Mahasiswa berdiskusi tentang struktur halaman web</p></td>
			<td class="td_60"><p class="block_27" lang="af">Kemampuan menjawab pertanyaan dan menyelesaikan latihan</p><p class="block_2">&nbsp;</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">10</p></td>
			<td class="td_56"><p class="block_19" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web</p></td>
			<td class="td_57"><p class="block_28" lang="af">Cascading Style Sheet (rule, atribute, CSS Framework, Tailwind CSS) </p></td>
			<td class="td_58"><p class="block_28" lang="af">Project Based Learning </p><p class="block_28" lang="af">(3 x 50 mnt)</p></td>
			<td class="td_59"><p class="block_28" lang="af">Mahasiswa mempresentasikan desain dan rencana penggunaan CSS pada project yagn dikerjakan.</p></td>
			<td class="td_60"><p class="block_27" lang="af">Progress project</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Hasil desain </p><p class="block_2">&nbsp;</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">11</p></td>
			<td class="td_56"><p class="block_19" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web</p></td>
			<td class="td_57"><p class="block_27"><span lang="af">Document Object Model &ndash; DOM (</span>Manipulasi<span lang="af"> DOM, DOM event)</span></p></td>
			<td class="td_58"><p class="block_28" lang="af">Project Based Learning </p><p class="block_28" lang="af">(3 x 50 mnt)</p></td>
			<td class="td_59"><p class="block_28" lang="af">Mahasiswa mengimplementasikan manipulasi DOM pada project yang dikerjakan</p><p class="block_30">&nbsp;</p></td>
			<td class="td_60"><p class="block_27" lang="af">Progress Project</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">12 - 13</p></td>
			<td class="td_56"><p class="block_19" lang="af">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web</p></td>
			<td class="td_57"><p class="block_27">Komunikasi client dan server</p></td>
			<td class="td_58"><p class="block_28" lang="af">Project Based Learning </p><p class="block_28" lang="af">(3 x 50 mnt)</p></td>
			<td class="td_59"><p class="block_28" lang="af">Mahasiswa mengimplementasikan komunikasi antara aplikasi client dan server pada project yang dikerjakan</p><p class="block_30">&nbsp;</p></td>
			<td class="td_60"><p class="block_27" lang="af">Progress project</p><p class="block_2">&nbsp;</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">14</p></td>
			<td class="td_56"><p class="block_19" lang="af">Mahasiswa mampu mendemonstrasikan keterampilan bekerja sama dengan tim</p></td>
			<td class="td_57"><p class="block_27">Front End Framework (Vue dan React)</p></td>
			<td class="td_58"><p class="block_28" lang="af">Collaborative Learning</p><p class="block_28" lang="af">(2 x 50 mnt)</p><p class="block_30">&nbsp;</p><p class="block_28" lang="af">Project Based Learning </p><p class="block_28" lang="af">(1 x 50 mnt)</p></td>
			<td class="td_59"><p class="block_28" lang="af">Mahasiswa mempresentasikan front end framework populer dan kelompok lain memberikan tanggapan</p><p class="block_30">&nbsp;</p><p class="block_28" lang="af">Mahasiswa mempresentasikan progress project</p><p class="block_30">&nbsp;</p><p class="block_30">&nbsp;</p></td>
			<td class="td_60"><p class="block_27" lang="af">Kemampuan presentasi</p><p class="block_27" lang="af">Etika diskusi</p><p class="block_27" lang="af">Pemahaman materi presentasi</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Progress project</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">15</p></td>
			<td class="td_56"><p class="block_19" lang="af">Mahasiswa mampu deploy aplikasi web ke internet.</p></td>
			<td class="td_57"><p class="block_27" lang="af">Web Deployment </p><ul class="list_2">
	<li class="block_31"><span lang="af">Shared host vs VPS</span></li>
	<li class="block_32"><span lang="af">Server hosts files</span></li>
	<li class="block_32"><span lang="af">Konfigurasi </span><i lang="af" class="calibre5">host</i></li>
	<li class="block_32"><span lang="af">Izin publikasi</span></li>
	<li class="block_32"><span lang="af">Kebebasan berbicara dan berekspresi di internet</span></li>
</ul></td>
			<td class="td_58"><p class="block_28" lang="af">Project Based Learning</p></td>
			<td class="td_59"><p class="block_28" lang="af">Mahasiswa melakukan instalasi software di server</p></td>
			<td class="td_60"><p class="block_27" lang="af">Progress project</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
		<tr class="calibre2">
			<td class="td_55"><p class="block_24" lang="af">16</p></td>
			<td colspan="4" class="td_62"><p class="block_27" lang="af">Ujian Akhir Semester (UAS)</p></td>
			<td class="td_60"><p class="block_27" lang="af">Kemampuan presentasi project</p><p class="block_2">&nbsp;</p><p class="block_27" lang="af">Pemahaman materi terhadap project</p></td>
			<td class="td_61"><p class="block_29">&nbsp;</p></td>
		</tr>
	</tbody></table>

    
	<p class="block_33">&nbsp;</p>

</div>
</body>
</html>