<%- include('layout/atas', {judul: 'RPS Dosen'}) %>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Rencana Pembelajaran Semester</h3>
                    <p class="text-subtitle text-muted"> </p>
                </div>
                <!-- <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                        </ol>
                    </nav>
                </div> -->
            </div>
        </div>
        <section class="section">
            <div class="card">
                <!-- <div class="card-header">
                    Simple Datatable
                </div> -->
                <div class="card-body">

                    <div class="form-group row align-items-center">
                        <div class="col-lg-2 col-3">
                            <label class="col-form-label"><h6>Dosen</h6></label>
                        </div>
                        <div class="col-lg-10 col-9">
                            <p class="form-control-static" id="staticInput">Husnil Kamil</p>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-lg-2 col-3">
                            <label class="col-form-label"><h6>NIP</h6></label>
                        </div>
                        <div class="col-lg-10 col-9">
                            <p class="form-control-static" id="staticInput">198410062012121001</p>
                        </div>
                    </div>
                
                    <br>

                    <h4 class="card-title">Mata Kuliah yang Diampu</h4>
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kode Mata Kuliah</th>
                                <th>Nama Mata Kuliah</th>
                                <th>SKS</th>
                                <th>Revisi</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <script>let no =1</script>
                            <tr>
                                <td>1</td>
                                <td>JSI123</td>
                                <td>Perancangan Basis Data</td>
                                <td>4</td>
                                <td>2</td>
                                <td>
                                    <a href="/dosen/detailrps" class="btn btn-primary rounded-pill">Detail</a>
                                    <button class="btn me-1" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/dosen/ubahrps">Ubah</a>
                                        <a class="dropdown-item" href="/dosen/revisirps">Revisi</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>JSI122</td>
                                <td>Pemorograman Web</td>
                                <td>3</td>
                                <td>0</td>
                                <td>
                                    <a href="/dosen/tambahrps" class="btn btn-primary rounded-pill">+ Tambah</a>                                    
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>
                
<%- include('layout/bawah') %> 