    <!-- table hover -->
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Minggu ke</th>
                <th>Materi ajar</th>
                <th>Metode Pembelajaran</th>
                <th>Pengalaman Belajar</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-bold-500">1</td>
                <td>1</td>
                <td>javascript</td>
                <td>Presentasi Dosen</td>
                <td>Menyelesaikan Latihan</td>
                <td>
                    <!-- <button class="btn"><i class="fas fa-edit" data-bs-toggle="modal" 
                        data-bs-target="#inlineEditForm"></i> </button> -->
                
                
                    <!--edit form Modal -->
                    <!-- <div class="modal fade text-left" id="inlineEditForm" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel33" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel33">Edit Dosen </h4>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <form action="#">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="basicInput">CPMK</label>
                                                <input type="text" class="form-control" id="basicInput" placeholder="Masukkan CPMK">
                                            </div>
                                            <label>NIP </label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="disini NIP nya ntar, otomatis dari DB">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                            data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary ml-1"
                                            data-bs-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Edit</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div> -->

                    <button class="btn"><i class="fas fa-trash" data-bs-toggle="modal"
                        data-bs-target="#hapusPertMgg"></i></button>

                    <!--Danger theme Modal -->
                    <div class="modal fade text-left" id="hapusPertMgg" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel120" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title white" id="myModalLabel120">Peringatan
                                    </h5>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Yakin Ingin menghapus?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Batal</span>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Hapus</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table><br>

    <span>
        <!-- Button trigger for tambah form modal -->
        <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
            data-bs-target="#inlineFormPertMgg">
            + Tambah
        </button>

        <!--tambah form Modal -->
        <div class="modal fade text-left" id="inlineFormPertMgg" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Tambah Kemampuan </h4>
                        <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <form action="#">
                        <div class="modal-body">
                            <label>Kemampuan yang Diharapkan </label>
                            <div class="form-group">
                                <input type="text" placeholder="Masukkan kemampuan"
                                    class="form-control">
                            </div>
                            <!-- <label>Nama Mata Kuliah </label>
                            <div class="form-group">
                                <input type="text" placeholder="Masukkan nama matkul"
                                    class="form-control">
                            </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Tutup</span>
                            </button>
                            <button type="submit" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Tambah</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </span>