<!-- table hover -->
<table class="table table-hover mb-0">
  <thead>
    <tr>
      <th>Minggu ke</th>
      <th>Materi ajar</th>
      <th>Metode Pembelajaran</th>
      <th>Pengalaman Belajar</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>javascript</td>
      <td>Presentasi Dosen</td>
      <td>Menyelesaikan Latihan</td>
      <td>
        <button class="btn"><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#EditMingguan"></i></button>

        <!--edit form Modal -->
        <div class="modal fade text-left" id="EditMingguan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Edit Pertemuan Mingguan</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <i data-feather="x"></i>
                </button>
              </div>
              <form action="#">
                <div class="modal-body">
                  <label>Minggu Ke</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="readonlyInput" />
                  </div>
                  <label>Materi Ajar</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="readonlyInput" />
                  </div>
                  <label>Metode Pembelajaran</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="readonlyInput" />
                  </div>
                  <label>Pengalaman Belajar</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="readonlyInput" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                  </button>
                  <button type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Edit</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <button class="btn"><i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#hapusPertMgg"></i></button>

        <!--Danger theme Modal -->
        <div class="modal fade text-left" id="hapusPertMgg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="myModalLabel120">Peringatan</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <i data-feather="x"></i>
                </button>
              </div>
              <div class="modal-body">Yakin Ingin menghapus?</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                  <i class="bx bx-x d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Batal</span>
                </button>
                <button type="submit" class="btn btn-danger ml-1" data-bs-dismiss="modal">
                  <i class="bx bx-check d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Hapus</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br />

<span>
  <!-- Button trigger for tambah form modal -->
  <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#inlineFormPertMgg">+ Tambah</button>

  <!--tambah form Modal -->
  <div class="modal fade text-left" id="inlineFormPertMgg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel33">Tambah Pertemuan Mingguan</h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <i data-feather="x"></i>
          </button>
        </div>
        <form action="#">
          <div class="modal-body">
            <label>Minggu Ke</label>
            <div class="form-group">
              <input type="text" class="form-control" id="readonlyInput" />
            </div>
            <label>Materi Ajar</label>
            <div class="form-group">
              <input type="text" class="form-control" id="readonlyInput" />
            </div>
            <label>Metode Pembelajaran</label>
            <div class="form-group">
              <input type="text" class="form-control" id="readonlyInput" />
            </div>
            <label>Pengalaman Belajar</label>
            <div class="form-group">
              <input type="text" class="form-control" id="readonlyInput" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Tutup</span>
            </button>
            <button type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
              <i class="bx bx-check d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Tambah</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</span>
