
    <!-- table hover -->
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Judul</th>
                <th>Penulis</th>
                <th>Kategori</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-bold-500">1</td>
                <td>Lorem ipsum dolor sit adipisicing elit. Quos, ea?</td>
                <td>Tere Liye</td>
                <td>
                    <span class="badge bg-primary">Utama</span>
                    <!-- <span class="badge bg-secondary">Pendukung</span> -->
                    
                </td>
                <td>

                    <button class="btn"><i class="fa-solid fa-rectangle-list" data-bs-toggle="modal" 
                        data-bs-target="#detailreferensi"></i> </button>
                
                    <!--edit form Modal -->
                    <div class="modal fade text-left" id="detailreferensi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel33">Detail Referensi</h4>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <form action="#">
                                    <div class="modal-body">
                                        <label>Judul</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="Eliana">
                                        </div>
                                        <label>Penulis</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="Tere Liye">
                                        </div>
                                        <label>Penerbit</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="Gramed">
                                        </div>
                                        <label>Tahun</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="1213">
                                        </div>
                                        <label>Deskripsi</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="hmmmmmmmmmm">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary ml-1"
                                        data-bs-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Edit</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn"><i class="fas fa-edit" data-bs-toggle="modal" 
                        data-bs-target="#editreferensi"></i> </button>
                
                    <!--edit form Modal -->
                    <div class="modal fade text-left" id="editreferensi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel33">Edit Dosen </h4>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <form action="#">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="basicInput">CPMK</label>
                                            <input type="text" class="form-control" id="basicInput" placeholder="Masukkan CPMK">
                                        </div>
                                        <label>NIP </label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="disini NIP nya ntar, otomatis dari DB">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary ml-1"
                                        data-bs-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Edit</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button class="btn"><i class="fas fa-trash" data-bs-toggle="modal"
                        data-bs-target="#hapusreferensi"></i></button>

                    <!--Danger theme Modal -->
                    <div class="modal fade text-left" id="hapusreferensi" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel120" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title white" id="myModalLabel120">Peringatan
                                    </h5>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Yakin Ingin menghapus?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Batal</span>
                                    </button>
                                    <button type="submit" class="btn btn-danger ml-1"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Hapus</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table><br>

    <span>
        <!-- Button trigger for tambah form modal -->
        <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
            data-bs-target="#inlineFormReferensi">
            + Tambah
        </button>

        <!--tambah form Modal -->
        <div class="modal fade text-left" id="inlineFormReferensi" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Tambah Referensi </h4>
                        <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <form action="#">
                        <div class="modal-body">
                            <label>Referensi </label>
                            <div class="form-group">
                                <input type="text" placeholder="Masukkan referensi"
                                    class="form-control">
                            </div>
                            <label>Kategori</label>
                            <div class="form-group">
                                <select class="form-select">
                                    <option value="Utama">Utama</option>
                                    <option value="Pendukung">Pendukung</option>
                                </select>
                            </div>
                            <!-- <label>Nama Mata Kuliah </label>
                            <div class="form-group">
                                <input type="text" placeholder="Masukkan nama matkul"
                                    class="form-control">
                            </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Tutup</span>
                            </button>
                            <button type="submit" class="btn btn-primary ml-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Tambah</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </span>